@model Agendamento
@{
    ViewData["Title"] = "Home Page";
}
<br><br>

    <center><h1 class="heitor">Pré-Agendamento</h1></center>
    
    <span class="ponto1"></span>
    <span class="ponto2"></span>
    <span class="ponto3"></span>
    <span class="centro"></span> 
    <span class="ponto4"></span> 

    <span class="ponto12"></span>
    <span class="ponto22"></span>
    <span class="ponto32"></span>
    <span class="centro2"></span> 
    <span class="ponto42"></span> 

    <span class="ponto13"></span>
    <span class="ponto23"></span>
    <span class="ponto33"></span>
    <span class="centro3"></span> 
    <span class="ponto43"></span> 


<br><br>
<center>
    
    <form method="POST">

    
        <label asp-for="Nome">Nome: </label>
        <input asp-for="Nome"></input>
    
        <br><br>

        <label asp-for="Telefone">Telefone: </label>
        <input asp-for="Telefone"></input>


        <br><br>

        <label asp-for="Data">Data: </label>
        <input asp-for="Data"></input>


        <br><br>

        <label asp-for="Animal">Animal: </label>
        <select asp-for="Animal">
        <option>Cachorro</option>
        <option>Gato</option>
        <option>Pássaro</option>
        </select>

        <br><br>

        <label asp-for="Necessidade">Necessidade: </label>
        <input class="nec" asp-for="Necessidade"></input>
        <br><br>
        <label></label>
        <input class= "sub" type="submit" value="Agendar">

    </form>
</center>

<span class="ponto15"></span>
    <span class="ponto25"></span>
    <span class="ponto35"></span>
    <span class="centro5"></span> 
    <span class="ponto45"></span>



    <span class="ponto16"></span>
    <span class="ponto26"></span>
    <span class="ponto36"></span>
    <span class="centro6"></span> 
    <span class="ponto46"></span>  


    <span class="ponto17"></span>
    <span class="ponto27"></span>
    <span class="ponto37"></span>
    <span class="centro7"></span> 
    <span class="ponto47"></span>
  
    <br>

<br><br>