@{
    ViewData["Title"] = "Home Page";
}
<br><br>
<div class="text-center">
    <h1>Agendamento feito com sucesso</h1>
    
</div>
<br><br>
<center><a class = "heitor" asp-area="" asp-action="Agendamento" >Agendar uma nova consulta</a></center>
<br><br>
<center><a class="heitor"  asp-area="" asp-action="Sucesso" >Vê as consultas agendadas</a></center>
<br><br>