@{
    ViewData["Title"] = "Privacy Policy";
}


<center><h1>Serviços</h1></center>

<br>

    <span class="ponto1"></span>
    <span class="ponto2"></span>
    <span class="ponto3"></span>
    <span class="centro"></span> 
    <span class="ponto4"></span> 

    <span class="ponto12"></span>
    <span class="ponto22"></span>
    <span class="ponto32"></span>
    <span class="centro2"></span> 
    <span class="ponto42"></span> 

    <span class="ponto13"></span>
    <span class="ponto23"></span>
    <span class="ponto33"></span>
    <span class="centro3"></span> 
    <span class="ponto43"></span> 

<center><p class="com">Banho</p></center>
<br>
<center><img src="~/estetica.png"  width="250px" height="250px" /></center>
<br>
<center><p class="def"> Serviço oferecidos para limpeza de cães e gatos com  o local apropiado para banho de pets. Temos a melhor equipe treinada da região
    especializada em dar  banhos em diferentes tipos de raças  e idades. Preços são definidos a partir do tipo de animal, <br> raça e idade dele. </p></center>

<br>
<center><p class="com">Tosa</p></center>
<br>
<center><img src="~/tosa.jpg"  width="250px" height="250px" /></center>
<br>
<center><p class="def">Somos especializados em diferentes tipos de tosa. Esses tipos de tosa  são: na máquina, tesoura, higiênica. Os preços são definidos a partir do modelo de tosa e das características dos animais.</p></center>

<br>
<center><p class="com">Corte de unhas</p></center>
<br>

<center><p class="def">Somos especializados em cortar unhas de animais evitando possíveis sangramento e dores de animais por cortes errados. Preço determinados pelas características da raça. </p></center>

<span class="ponto15"></span>
    <span class="ponto25"></span>
    <span class="ponto35"></span>
    <span class="centro5"></span> 
    <span class="ponto45"></span>



    <span class="ponto16"></span>
    <span class="ponto26"></span>
    <span class="ponto36"></span>
    <span class="centro6"></span> 
    <span class="ponto46"></span>  


    <span class="ponto17"></span>
    <span class="ponto27"></span>
    <span class="ponto37"></span>
    <span class="centro7"></span> 
    <span class="ponto47"></span>
  
    